<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175681669860-ionmff8fd0d0ob3iohoojtcvs34l7egp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175681669860-ionmff8fd0d0ob3iohoojtcvs34l7egp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>175681669860-fm9162dclnf6aditt71kcij2ri0jlped.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx0g_YkiZDS3OVpRPJQZ2VZ4z_XXnPZjc</string>
	<key>GCM_SENDER_ID</key>
	<string>175681669860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatofit.app</string>
	<key>PROJECT_ID</key>
	<string>app-gatofit</string>
	<key>STORAGE_BUCKET</key>
	<string>app-gatofit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175681669860:ios:da242220ae03ee6c27baf1</string>
</dict>
</plist>